html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
  background-color: #e5e5e5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Tambahkan CSS di bawah ini ea */



footer {
  background-color: #ffffff8f;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.footer-image {
  height: 50px;
  padding: 5px 60px;
  
}

.footer-left {
  align-items: center;
  justify-content: center;
  width: 20%;
  
}

.footer-center {
  align-items: center;
  width: 60%;
}

.footer-right {
  width: 20%;
}

footer p {
  text-align: center;
  
}